body {
	font-size: 16px;
	color: #F3EEB2;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
	background-color: salmon;
	border-radius: 0;
	border: 0;


}

.navbar-brand {
	padding-top: 25px;

  

}

.navbar-brand h1 { /* Restaurant name */
	font-family: 'Lora', serif;
	color: #FFF44F;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
  margin-left: 20px;
	line-height: 0.4;


}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}


#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;

}




#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
li.visible-xs {
  
  border: 1px solid black;

}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


 #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: #F3EEB2;
  }
 
/* END HEADER */


/* MAIN SECTION */

div.col-xs-12 p {
    background-color: gray;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
   
  }
   .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    float: left;
    width: 100%;
    
  }

 
/* END MAIN SECION */


/********** Medium devices only **********/
@media (min-width: 1200px) {
  .navbar-brand {
    padding-top: 20px;
    height: 120px;
  }

  
    
  .navbar-brand h1 {
    padding-top: 20px;
    font-size: 3vw;
  }
}

/********** Small devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
    height: 100px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw;
  }
  
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
    padding-top: 10px;
    height: 90px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 20px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
    
  }

/********** Extra Small devices only **********/
@media (max-width: 767px) {
  

   .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 25px;
    font-size: 6vw; /* 1vw = 1% of viewport width */
  }
  
  div.col-xs-12 p {
    margin-bottom: 20px;
   
  }

 }

  
  
 